
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.background1 {
    background-image: url("../assets/view1blur.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.container {
    background: white;
    padding: 2.5em;
    text-align: center;
    margin: auto;
}

.options {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: white;
    text-align: center;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}

.option-container {
    width: 24em;
    height: 18em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 20px;
    margin: 0.5em;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}

.option-container:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

h2 {
    color: #425D8A;
    font-weight: 800;
    font-size: 2.5em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.label {
    font-size: 2em;
    font-weight: 800;
    color: white;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: 2px;
    transition: text-decoration-color 0.3s ease-in-out;

}

.option-container:hover .label {
    text-decoration-color: white;
}


a {
    text-decoration: none;
}

.back {
    padding-left: 2vw;
    text-align: left;
    color: #6884AC;
}

.back:hover {
    color: #425D8A;
    font-weight: bold;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 1vw;
    font-weight: 100;
    font-style: normal;
    color: white;
    margin-right: 2vw;
    margin-bottom: 1vw;
}